<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>PROTOLAB - Laboratório de Prototipagem de PCB e Elementos Mecânicos</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="static/landing/css/bootstrap.min.css" />

    <!-- Owl Carousel -->
    <link type="text/css" rel="stylesheet" href="static/landing/css/owl.carousel.css" />
    <link type="text/css" rel="stylesheet" href="static/landing/css/owl.theme.default.css" />

    <!-- Magnific Popup -->
    <link type="text/css" rel="stylesheet" href="static/landing/css/magnific-popup.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="static/landing/css/font-awesome.min.css">

    <link rel="icon" href="static/landing/img/favicon.ico" type="image/x-icon" />

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="static/landing/css/style.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <!-- Header -->
    <header id="home">
        <!-- Background Image -->
        <div class="bg-img" style="background-image: url('static/landing/img/background1.jpg');">
            <div class="overlay"></div>
        </div>
        <!-- /Background Image -->

        <!-- Nav -->
        <nav id="nav" class="navbar nav-transparent">
            <div class="container">

                <div class="navbar-header">
                    <!-- Logo -->
                    <div class="navbar-brand">
                        <a href="/">
                            <img class="logo padding-logo" src="static/landing/img/logo.svg" alt="logo">
                            <img class="logo-alt" src="static/landing/img/logo-alt.svg" alt="logo">
                        </a>
                    </div>
                    <!-- /Logo -->

                    <!-- Collapse nav button -->
                    <div class="nav-collapse">
                        <span></span>
                    </div>
                    <!-- /Collapse nav button -->
                </div>

                <!--  Main navigation  -->
                <ul class="main-nav nav navbar-nav navbar-right">
                    <li>
                        <a href="#home">Ínicio</a>
                    </li>
                    <li>
                        <a href="#about">Recursos</a>
                    </li>
                    <li>
                        <a href="#portfolio">Trabalhos</a>
                    </li>
                    <li>
                        <a href="#team">Equipe</a>
                    </li>
                    <li>
                        <a href="/contato">Contato</a>
                    </li>
                    <li>
                        <a href="/pesquisa-de-processos">Gerenciamento de Processos</a>
                    </li>
                </ul>
                <!-- /Main navigation -->

            </div>
        </nav>
        <!-- /Nav -->

        <!-- home wrapper -->
        <div class="home-wrapper">
            <div class="container">
                <div class="row">

                    <!-- home content -->
                    <div class="col-md-10 col-md-offset-1">
                        <div class="home-content">
                            <h1 class="white-text">ProtoLab</h1>
                            <p class="white-text">Laboratório de Prototipagem de PCB e Elementos Mecânicos
                            </p>
                            <a href="/novo-processo" class="white-btn">Abrir um novo processo</a>
                            <a href="/pesquisa-de-processos" class="main-btn">Acompanhar um processo</a>

                        </div>
                    </div>
                    <!-- /home content -->

                </div>
            </div>
        </div>
        <!-- /home wrapper -->

    </header>
    <!-- /Header -->

    <!-- About -->
    <div id="about" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">Recursos</h2>
                </div>
                <!-- /Section header -->

                <!-- about -->
                <div class="col-md-4">
                    <div class="about">
                        <i class="fa fa-cogs"></i>
                        <h3>Confecção de PCB</h3>
                        <p>Confecção de Placas de Circuito Impresso de até 4 camadas</p>
                    </div>
                </div>
                <!-- /about -->

                <!-- about -->
                <div class="col-md-4">
                    <div class="about">
                        <i class="fa fa-magic"></i>
                        <h3>Usinagem CNC</h3>
                        <p>Usinagem de Elementos mecânicos de materiais com dureza até alumínio</p>
                    </div>
                </div>
                <!-- /about -->

                <!-- about -->
                <div class="col-md-4">
                    <div class="about">
                        <i class="fa fa-braille"></i>
                        <h3>Impressão 3D</h3>
                        <p>Impressão de peças através de impressoras 3D PolyJet e FDM</p>
                    </div>
                </div>
                <!-- /about -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /About -->

    <!-- Numbers -->
    <div id="numbers" class="section sm-padding">

        <!-- Background Image -->
        <div class="bg-img" style="background-image: url('static/landing//img/background1.jpg');">
            <div class="overlay"></div>
        </div>
        <!-- /Background Image -->
        
    </div>
    <!-- /Numbers -->

    <!-- Portfolio -->
    <div id="portfolio" class="section md-padding bg-grey">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">Trabalhos</h2>
                </div>
                <!-- /Section header -->

                <!-- Work -->
                <div class="col-md-4 col-xs-6 work">
                    <img class="img-responsive" src="static/landing//img/work1.jpg" alt="">
                    <div class="overlay"></div>
                </div>
                <!-- /Work -->

                <!-- Work -->
                <div class="col-md-4 col-xs-6 work">
                    <img class="img-responsive" src="static/landing//img/work2.jpg" alt="">
                    <div class="overlay"></div>
                </div>
                <!-- /Work -->

                <!-- Work -->
                <div class="col-md-4 col-xs-6 work">
                    <img class="img-responsive" src="static/landing//img/work3.jpg" alt="">
                    <div class="overlay"></div>
                </div>
                <!-- /Work -->

                <!-- Work -->
                <div class="col-md-4 col-xs-6 work">
                    <img class="img-responsive" src="static/landing//img/work4.jpg" alt="">
                    <div class="overlay"></div>
                </div>
                <!-- /Work -->

                <!-- Work -->
                <div class="col-md-4 col-xs-6 work">
                    <img class="img-responsive" src="static/landing//img/work5.jpg" alt="">
                    <div class="overlay"></div>
                </div>
                <!-- /Work -->

                <!-- Work -->
                <div class="col-md-4 col-xs-6 work">
                    <img class="img-responsive" src="static/landing//img/work6.jpg" alt="">
                    <div class="overlay"></div>
                </div>
                <!-- /Work -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Portfolio -->





    <!-- Footer -->
    <footer id="footer" class="sm-padding bg-dark">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <div class="col-md-12">

                    <!-- footer logo -->
                    <div class="footer-logo">
                        <a href="/">
                            <img src="static/landing/img/logo-alt.svg" alt="logo">
                        </a>
                    </div>


                    <!-- footer copyright -->
                    <div class="footer-copyright">
                        <p>Laboratório de Prototipagem. Universidade Federal do Rio Grande do Norte 2018.</p>
                    </div>
                    <!-- /footer copyright -->

                </div>

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </footer>
    <!-- /Footer -->

    <!-- Back to top -->
    <div id="back-to-top"></div>
    <!-- /Back to top -->

    <!-- Preloader -->
    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- /Preloader -->

    <!-- jQuery Plugins -->
    <script type="text/javascript" src="static/landing/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/landing/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/landing/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="static/landing/js/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="static/landing/js/main.js"></script>

</body>

</html>