<!doctype html>
<html lang="pt-br" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="pt-br" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="static/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico" />

    <title>Início - Laboratório de Prototipagem</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <script src="static/assets/js/require.min.js"></script>
    <script>
        requirejs.config({
            baseUrl: '/static/'
        });
    </script>
    <!-- Dashboard Core -->
    <link href="static/assets/css/dashboard.css" rel="stylesheet" />
    <script src="static/assets/js/dashboard.js"></script>
    <!-- c3.js Charts Plugin -->
    <link href="static/assets/plugins/charts-c3/plugin.css" rel="stylesheet" />
    <script src="static/assets/plugins/charts-c3/plugin.js"></script>
    <!-- Google Maps Plugin -->
    <link href="static/assets/plugins/maps-google/plugin.css" rel="stylesheet" />
    <script src="static/assets/plugins/maps-google/plugin.js"></script>
    <!-- Input Mask Plugin -->
    <script src="static/assets/plugins/input-mask/plugin.js"></script>

</head>

<body class="">
    <div class="page">
        <div class="page-main">
            <div class="header py-4">
                <div class="container">
                    <div class="d-flex">
                        <a class="header-brand" href="/pesquisa-de-processos">
                            <img src="static/img/logo.svg" class="header-brand-img" alt="tabler logo">
                        </a>
                        <div class="d-flex flex-row-reverse order-lg-2 ml-auto">
                            <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
                                <div class="container">
                                    <div class="row align-items-end">
                                        <div class="col-lg order-lg-first">
                                            <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                                                <li class="nav-item">
                                                    <a href="/pesquisa-de-processos" class="nav-link active">
                                                        <i class="fe fe-home"></i>Início</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/novo-processo" class="nav-link">
                                                        <i class="fe fe fe-file-text"></i>Novo processo</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/novo-orcamento" class="nav-link">
                                                        <i class="fa fa-percent"></i>Novo orçamento</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/contato" class="nav-link">
                                                        <i class="fa fa-envelope"></i>Contato</a>
                                                </li>
                                                <li class="nav-item">
                                                    |
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/login" class="nav-link">
                                                        <i class="fa fa-user-o"></i>Entrar no sistema</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="/" class="nav-link">
                                                        <i class="fa fa-backward"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                            <span class="header-toggler-icon"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="my-3 my-md-5">
                <div style="margin-top: 5%" class="container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1">
                            <div id="erros"></div>
                            <div id="conteudo">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 id="tituloCard" class="card-title">
                                            <center>Detalhes do processo</center>
                                        </h3>
                                    </div>
                                    <div id="conteudoCard" class="card-body">
                                        <p style="font-size: 25px; color: red; text-align: center;">O prazo de conclusão do processo é de pelo menos 7 dias úteis após a entrega do material.</p>
                                    </div>
                                    <div class="card-footer text-right">
                                        <div class="d-flex">
                                            <button id="exibirMensagens" type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                                                Mensagens
                                            </button>
                                            <a href="/pesquisa-de-processos" class="btn btn-primary ml-auto">Fazer nova pesquisa</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form id="formPesquisa">
                                <div id="pesquisa" class="input-group input-group-lg">
                                    <input id="codigo" type="text" class="form-control" placeholder="Digite o código do seu processo para ver o seu status">
                                    <span class="input-group-append">
                                        <button id="buscar" class="btn btn-dark" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>  
                            </form>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Mensagens</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"></span>
                                    </button>
                                </div>
                                
                                <div id="mensagensProjeto" class="modal-body">
                                    

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Sair</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                        Laboratório de Prototipagem. Universidade Federal do Rio Grande do Norte 2018.
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function retornarMensagem(data) {
            let cor = "border-success";
            if(data.enviadoPor==="Publico" || data.enviadoPor==="Público") cor = "border-primary"
            let dataExibir = new Date(data.data);
            dataExibir = dataExibir.toLocaleString();
            let html = `<div class="row"><div class="card ${cor}">
                            <div class="card-body">
                                ${data.mensagem}
                                <br><br><hr>
                                <p style="text-align: right"><strong>Enviado por:</strong> ${data.enviadoPor}, ${dataExibir}</p>
                            </div>
                        </div></div>`;
            return html;
        }
        function retornarHtmlStatus(status, msg, data) {
            let vetor;
            let cor;
            if (status === "Enviado") {
                cor = "#00E676";
                vetor = "fa fa-arrow-circle-up";
            } else if (status === "Visualizado") {
                cor = "#81D4FA";
                vetor = "fa fa-eye";
            } else if (status === "Produção") {
                cor = "#212121";
                vetor = "fa fa-cogs";
            } else if (status === "Problema") {
                cor = "#DCE775";
                vetor = "fa fa fa-warning";
            } else if (status === "Concluído") {
                cor = "#1B5E20";
                vetor = "fa fa-thumbs-up";
            } else if (status === "Cancelado") {
                cor = "#1B5E20";
                vetor = "fa fa-remove";
            }
            let html = `<hr>
                        <div class="row">
                            <div class="offset-md-5 col-md-2">
                                <center>
                                    <span style="font-size: 4em; color: ${cor};" class="${vetor}"></span>
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="offset-md-3 col-md-6">
                                <center>
                                    <strong>${status}</strong>
                                    <br> ${msg}
                                    <br> ${data}
                                </center>
                            </div>
                        </div>`;
            return html;
        }
        function requestData(urlGetProcesso, urlGetOrcamento, cb) {
            $.ajax({
                type: "GET",
                url: urlGetProcesso,
                success: function (dataProcesso) {
                    let buscaProcesso = dataProcesso;
                    $.ajax({
                        type: "GET",
                        url: urlGetOrcamento,
                        success: function (dataOrcamento) {
                            let buscaOrcamento = dataOrcamento;
                            let dadoBusca;
                            if (!buscaOrcamento.busca && !buscaProcesso.busca) {
                                dadoBusca = { tipo: false };
                                return cb(dadoBusca);
                            }
                            if (buscaOrcamento.busca) dadoBusca = { tipo: "Orcamento", buscaOrcamento };
                            else dadoBusca = { tipo: "Processo", buscaProcesso };
                            cb(dadoBusca);
                        },
                        error: function (erroOrcamento) {
                            console.log("ERROR : ", erroOrcamento);
                        }
                    });
                },
                error: function (erroProcesso) {
                    console.log("ERROR : ", erroProcesso);
                }
            });
        }
        function nadaEncontrado() {
            $('#erros').empty();
            let showMsg = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <center>Nenhum resultado para o código informado.</center>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                            </div>`;
            $('#erros').append(showMsg);
        }
        $(document).ready(function () {
            $('#conteudo').hide();
            $("#formPesquisa").submit(function (event) {
                event.preventDefault();
                let codigo = $('#codigo').val();
                let urlGetProcesso = `buscar-processo/${codigo}`;
                let urlGetOrcamento = `buscar-orcamento/${codigo}`;
                requestData(urlGetProcesso, urlGetOrcamento, function (dadoBusca) {
                   
                    if (!dadoBusca.tipo) {
                        nadaEncontrado();
                        return;
                    }
                    $('#pesquisa').hide();
                    let objetoRecebido;
                    if (dadoBusca.tipo === "Orcamento") {
                        let codigo = dadoBusca.buscaOrcamento.objetoBusca.codigo;
                        let nomeArquivo = dadoBusca.buscaOrcamento.objetoBusca.urlArquivo;
                        nomeArquivo = nomeArquivo.replace(`./src/uploads/orcamentos/${dadoBusca.buscaOrcamento.objetoBusca.codigo}/`,"")
                        objetoRecebido = dadoBusca.buscaOrcamento.objetoBusca.processamento;
                        $('#tituloCard').empty();
                        $('#tituloCard').append('Detalhes do orçamento '+ codigo +', arquivo: '+nomeArquivo);
                    } else if (dadoBusca.tipo === "Processo") {
                        let codigo = dadoBusca.buscaProcesso.objetoBusca.codigo;
                        let nomeArquivo = dadoBusca.buscaProcesso.objetoBusca.urlArquivo;
                        nomeArquivo = nomeArquivo.replace(`./src/uploads/processos/${dadoBusca.buscaProcesso.objetoBusca.codigo}/`,"")
                        console.log(nomeArquivo)
                        objetoRecebido = dadoBusca.buscaProcesso.objetoBusca.processamento;
                        $('#tituloCard').empty();
                        $('#tituloCard').append('Detalhes do processo ' + codigo +', arquivo: '+nomeArquivo);
                    }
                    let html = "";
                    for (let i = objetoRecebido.length-1; i >= 0; i--) {
                        let data = new Date(objetoRecebido[i].data);
                        html += retornarHtmlStatus(objetoRecebido[i].status, objetoRecebido[i].msg, data.toLocaleString());
                    }
                    $('#conteudo').show();
                    $('#conteudoCard').append(html);
                });
            });
            $('#exibirMensagens').click(function (event) {
                event.preventDefault();
                let codigo = $('#codigo').val();
                let urlGet = `/buscar-mensagens/${codigo}`;
                $.ajax({
                    type: "GET",
                    url: urlGet,
                    timeout: 600000,
                    success: function (data) {
                        if (data.busca) {
                            let mensagens = data.mensagens;
                            if (mensagens.length > 0) {
                                let msg = "";
                                for (let i = mensagens.length - 1; i >= 0; i--) {
                                    msg += retornarMensagem(mensagens[i]);
                                }
                                $('#mensagensProjeto').empty();
                                $('#mensagensProjeto').append(msg)
                            } else {
                                $('#mensagensProjeto').empty();
                                $('#mensagensProjeto').append('<center><h3>Não existem mensagens</h3></center>');
                            }
                        }
                    },
                    error: function (e) {
                        console.log("ERROR : ", e);
                    }
                });
            });


        });
    </script>
</body>

</html>