<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                    <li class="nav-item">
                        <a href="/dashboard" class="nav-link">
                            <i class="fe fe-home"></i>Início</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown">
                            <i class="fe fe-box"></i> Processos</a>
                        <div class="dropdown-menu dropdown-menu-arrow">
                            <a href="#" class="dropdown-item">Todos processos</a>
                            <a href="#" class="dropdown-item">Buscar processo</a>
                            <a href="#" class="dropdown-item">Atualizar status processo</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown">
                            <i class="fe fe-calendar"></i>Orçamentos</a>
                        <div class="dropdown-menu dropdown-menu-arrow">
                            <a href="#" class="dropdown-item">Todos orçamentos</a>
                            <a href="#" class="dropdown-item">Buscar orçamento</a>
                            <a href="#" class="dropdown-item">Atualizar status orçamento</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown">
                            <i class="fe fe-file"></i>Documentos</a>
                        <div class="dropdown-menu dropdown-menu-arrow">
                            <a href="#" class="dropdown-item ">Relatórios</a>
                            <a href="#" class="dropdown-item">Declaração de conclusão de processo</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link">
                            <i class="fa fa-envelope"></i>Mensagens externas</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown">
                            <i class="fa fa-user"></i>Gerenciamento de usuários</a>
                        <div class="dropdown-menu dropdown-menu-arrow">
                            <a href="#" class="dropdown-item ">Ver usuários</a>
                            <a href="#" class="dropdown-item ">Novo usuário</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>